body{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    margin: 0px;
    padding: 0px;
    background: url(../IMAGES/gym-4.avif);
      background-repeat: no-repeat;
    background-size: 100%;
    color: blue;
}
.left{
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img{
     width: 100px;
     filter: invert(40%);
}
.left div{
    line-height: 20px;
    font-size: 20px;
    text-align: center;
}
.mid{
    display: block;
    width: 500px;
    margin: 30px auto;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;

}
.navbar li a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 12px ;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;inline-size: inherit;
    color: red;
}
.right{
    position: absolute;
    right: 34px;
    top: 40px;
    display: inline-block;
}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}