body{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
    background: url(../IMAGES/gym-4.avif);
    background-size: cover;
      background-repeat: no-repeat;
      /* background-position: ; */
      height: 100%;
      opacity: 0.7;
    /* color: blue; */
}
.left{
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img{
     width: 150px;
     filter: invert(10%);
}
.left div{
    line-height: 20px;
    font-size: 20px;
    text-align: center;
}
.mid{
    display: block;
    width: 500px;
    margin: 30px auto;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;

}
.navbar li a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 12px ;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;inline-size: inherit;
    color: red;
}
.right{
    position: absolute;
    right: 34px;
    top: 40px;
    display: inline-block;
}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}
.container{ 
    border: 2px solid rgb(95, 63, 2);
    margin: 10px 50px;
    padding: 16px;
    width: 20%;
    border-radius: 4px;
      } 

      .form-group{
       text-align:center;
        justify-content: center;
        display: block;
        width: 210px;
        padding: 5px;
        border: 2px solid rgb(39, 39, 39);
        margin: 3px;
        font-size: 25px;
        border-radius: 5px;
      }
      input:hover{
        color: white;
        background-color: rgb(196, 160, 160);
      }
      .container h1{
        color: rgb(180, 122, 46);
        text-align: center;
        font-size: 25px;
      }
      .container button{
        display: block;
        margin: 7px auto;
         padding: 5px;
        border: 2px solid rgb(39, 39, 39);
      }