* {
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 60px;
}

#logo img {
  margin: 15px 20px;
  height: 90px;
  border-radius: 3px;
}

#navbar {
  display: flex;
  position: relative;
  align-items: center;
  top: 0px;
}

#navbar ul {
  display: flex;
}
/* #navbar ul{
    display: sticky;
} */

#navbar::before {
  content: "";
  background-color: rgb(255, 44, 44);
  position: absolute;
  height: 95px;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

#navbar ul li {
  list-style: none;
  font-size: 1rem;
}

#navbar ul li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 4px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

#navbar ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 100px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url("../images/market\ store.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 600px;
  width: 1360px;
  z-index: -1;
  opacity: 0.9;
}
#home h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 2.5rem;
}
#home p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  line-height: 30px;
}

.btn {
  padding: 14px 31px;
  border: 2px solid rgb(26, 27, 26);
  background-color: rgb(228, 224, 112);
  color: rgb(0, 0, 0);
  margin: 17px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 230, 0);
  color: rgb(0, 0, 0);
}

.centre {
  text-align: center;
}

#services {
  margin: 20px;
  display: flex;
}

#services .box {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px 9px;
  border-radius: 5px;
  background-color: rgb(224, 224, 53);
  transition: all 0.8s ease-in-out;
  transition-duration: 1s;
}

#services .box:hover{
   transform: scale(0.9);
   background-color: rgb(62, 241, 101);
}

#services .box img {
  height: 150px;
  display: block;
  margin: auto;
}

#products-section {
  position: relative;
  margin-bottom: 25px;
}

#products-section::before{
  content: "" ;
  position: absolute;
  background: url(/HTML/mini-project-2/images/banner.png);  
  background-repeat: round;                                                   
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

#products img{
  height: 150px;
  border-radius: 20px;
  padding: 15px;
}

#items{
  padding: 14px;
}

#items{
  display: flex;
  justify-content: center;
  align-items: center;
}

#products {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.9rem;
}

#contact::before{
  content: "";
  position: absolute;
  width: 95%;
  height: 99%;
  z-index: -1;
  opacity: 0.9;
  background: url(/HTML/mini-project-2/images/loggin.png)no-repeat center/cover;
}

#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#contact-box input,
#contact-box textarea{
  width: 100%;
  padding: 0.4rem;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  
}

#contact-box{
  width: 40%;
}

.cbtn{
  padding: 14px 31px;
  border: 2px   solid white;
  background-color: gray;
  color: black;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

.cbtn:hover{
  background-color: black;
  color: white;
}

footer{
  background-color: rgb(238, 255, 0);
  color: black;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  opacity: 0.9px;
}

/* animation */
.products img{
  animation: guvi;
  animation: 2s;
  animation-iteration-count: infinite;
}

@keyframes guvi {
  0%{
     transform: rotate(1.1);
  }
  50%{
    transform: scale(0.8);
  }
  260%{
    transform: rotate(180deg);
  }
  260%{
    transform: rotate(180deg);
  }
}